.searchBarWrapper {
    padding-top: 2rem;
}

.searchBar {
    width: 100%;
    background-color: rgb(14, 14, 24);
    border: 2px solid rgba(255, 255, 255, 0.205);
    padding: 0.7rem 2rem;
    border-radius: 15px;
    transition: all 0.4s ease-in-out;
    color: white;
}

.searchBar:focus, .searchBar:active, .searchBar:focus-visible {
    border: 2px solid white;
    outline: none;
}

.img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
}

svg {
    width: 134px;
}

.container{
    display: flex;
    padding: 0.8rem 0;
}
.textWrapper{
    display: flex;
    flex-direction: column;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}
.pageContainer{
    padding: 1rem 2rem;
}
.artist{
    opacity: 0.5;
}
.title, .rating{
    font-weight: 700;
}
.rating{
    color: rgb(255, 196, 0);
}
hr{
    opacity: 0.2;
}
.route{
    text-decoration: none;
    color: white;
}
